<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>弹窗</title>
<meta name="description" content="">
<meta name="keywords" content="">
<script type="text/javascript" src="/movingEnd/static/src/js/ui/initFont.js"></script>
<link rel="stylesheet" type="text/css" href="/movingEnd/static/src/style/public.css">
<link rel="stylesheet" type="text/css" href="/movingEnd/static/src/style/icons/icon.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<style type="text/css">
    .zhuzi{height: 2500px;width: 20px;background: red;}
</style>
<body>   
	<div>
		<i class="fa-li fa fa-spinner fa-spin"></i>
		<div class="zhuzi"></div>
		<button class="tast1">tast</button>
	</div>
</body>
<script src="/movingEnd/static/src/js/lib/require.js"></script>
<script type="text/javascript" src="/movingEnd/static/src/js/re-config.js"></script>
<script type="text/javascript" src="/movingEnd/static/src/js/myDialog.js"></script>


<!-- <script src="/ncjxdPage/static/src/js/lib/require.js"></script>
<script type="text/javascript" src="/ncjxdPage/static/src/js/re-config.js"></script>
<script type="text/javascript" src="/ncjxdPage/static/src/js/myDialog.js"></script> -->
</html>